body{
    margin: 0 auto;
    width: 50%;
    min-height: 100vh;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    background: linear-gradient(90deg, rgba(11,11,22,1) 0%, rgba(38,38,48,1) 18%, rgba(43,43,52,1) 49%, rgba(69,69,77,1) 89%, rgba(50,50,59,1) 100%, rgba(81,81,88,1) 100%, rgba(88,88,95,1) 100%, rgba(153,153,157,1) 100%);
    background-size: 400%;
    animation: bg-animation 15s infinite alternate;
}
@keyframes bg-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}
.rightSide{
    display: flex;
    float: right;
    padding: 5px 0;
}
.rightSide li{
    list-style: none;
    font-weight: 700;
    margin: 0 5px;
}
.nameTitle{
    font-size: 4rem;
    margin: 0;
    margin-bottom: 3%;
    animation: slideInFromTop 750ms ease-in;
    position: relative;
}
.nameTitle::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60%;
    height: 2px;
    background-color: red;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}
.nameTitle:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
.introSection{
    padding: 10% 0;
    padding-bottom: 8%;
}
.smallIntros{
    margin: 0;
    animation: slideInFromLeft 900ms ease-in;
}
/* .title {
    animation: slideInFromLeft 900ms ease-in;
} */
.about .title{
    animation: slideInFromLeft 1s ease-in;
}
.about{
    margin-bottom: 6%;
}
.importantWords{
    color: rgb(255, 0, 0);
}
.aboutText{
    text-align: justify;
    animation: slideInFromRight 1100ms ease-in;
}
.technologies .title{
    animation: slideInFromLeft 1200ms ease-in;
}
.lists{
    display: flex;
    animation: slideInFromRight 1300ms ease-in;
}
.languages{
    margin-right: 5%;
}
.technologies{
    margin-bottom: 6%;
}
.projects .title{
    animation: slideInFromLeft 1400ms ease-in;
}
.projectName{
    text-decoration: none;
}
.projectDesc{
    animation: slideInFromRight 1500ms ease-in;
}
.projects{
    margin-bottom: 6%;
}
.icons img{
    color: white;
    text-decoration: none;
}
.contact .title{
    animation: slideInFromLeft 1600ms ease-in;
}
.icons{
    animation: slideInFromRight 1700ms ease-in;
}
.contactSent{
    animation: slideInFromLeft 1800ms ease-in;
}
.fa {
    text-decoration: none;
    margin-right: 15px;
}
a.fa.fa-envelope{
    color: white;
    font-size: 30px;
}
a.fa.fa-envelope:hover{
    color: red;
}
a.fa.fa-linkedin{
    color: white;
    font-size: 30px;
}
a.fa.fa-linkedin:hover{
    color: red;
}
a.fa.fa-github{
    color: white;
    font-size: 30px;
}
a.fa.fa-github:hover{
    color: red;
}
/* Animations */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%)
    }

    100% {
        transform: translateX(0);
    }
} 

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%)
    }

    100% {
        transform: translateX(0);
    }
} 

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%)
    }

    100% {
        transform: translateX(0);
    }
} 

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%)
    }

    100% {
        transform: translateX(0);
    }
} 
@media only screen and (max-width: 600px) {
    body{
        width: 80%;
        padding: 10px;
        margin-bottom: 10%;
        height: 120vh;
    }
    .languages{
        width: 120px;
    }
}
@media only screen and (max-width: 1000px){
    body{
        padding: 20px;
        height: 120vh;
    }
    .contact p{
        margin: 5px 0;
    }
    .contact h1{
        margin: 5px 0;
    }
}
